.article-container > .all-articles {
  display: grid;
  margin: 0 1rem;
  margin-top: 1rem;
  grid-template-columns: 1fr auto;
  row-gap: 1rem;
}
.article-container > .articleFromReadMore {
  position: absolute;
  top: 105px;
  background-color: azure;
  display: block;
  flex-direction: column;
  width: 45vw;
  margin: 0px 0px 0px 27.5vw;
  min-height: 818px;
  border-radius: 20px;
}
.article-container > .articleFromReadMore > .title {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 5px;
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 600;
  font-size: 24px;
}
.article-container > .articleFromReadMore > .description {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
}

.article-container > .articleFromReadMore > .publishDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 200;
  font-size: 12px;
  padding: 0px 5px;
}
.article-container > .articleFromReadMore > .publishDetails > .author {
  flex: 1;
  margin-left: 10px;
}
label {
  font-weight: 600;
}
.article-container > .articleFromReadMore > .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-container > .articleFromReadMore > .image > img {
  min-width: 100px;
  width: 40vw;
  min-height: 250px;
  height: 40vh;
  max-height: 300px;
  border-radius: 20px;
  margin: 10px;
  border: 1px solid black;
}

.article-container > .articleFromReadMore > .content {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
}

@media only screen and (max-width: 880px) {
  .article-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    height: fit-content;
  }
  .article-container > .all-articles {
    display: grid;
    margin: 0 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto;
    row-gap: 1rem;
  }
  .article-container > .articleFromReadMore {
    position: relative;
    top: 20px;
    left: 0px;
    display: flex;
    flex-direction: none;
    width: 95vw;
    margin: 0px 0px;
    min-height: fit-content;
    border-radius: 20px;
  }
  .article-container > .articleFromReadMore > .title {
    font-size: 20px;
  }

  .article-container > .articleFromReadMore > .publishDetails {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vw;
    flex-direction: row;
  }

  .article-container > .articleFromReadMore > .image > img {
    min-width: 90vw;
    width: 40vw;
    min-height: 250px;
    height: 40vh;
    max-height: 300px;
  }
}
@media only screen and (max-width: 1150px) and (min-width: 880px) {
  .article-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }
  .article-container > .all-articles {
    display: grid;
    margin: 0 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1ft auto;
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .article-container > .articleFromReadMore {
    position: relative;
    top: 20px;
    left: 0px;
    display: flex;
    flex-direction: none;
    width: 70vw;
    margin: 0px 0px;
    min-height: fit-content;
    border-radius: 20px;
  }
  .article-container > .articleFromReadMore > .title {
    font-size: 20px;
  }

  .article-container > .articleFromReadMore > .publishDetails {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vw;
    flex-direction: row;
  }

  .article-container > .articleFromReadMore > .image > img {
    min-width: 65vw;
    width: 40vw;
    min-height: 250px;
    height: 40vh;
    max-height: 300px;
  }
}