.newsContainer {
  display: grid;
  /* margin: 0 1rem; */
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(fit-content, 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
}

.paginationNav {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  .newsContainer {
    display: grid;
    grid-template-columns: none;
  }
  .paginationNav {
    display: flex;
    width: fit-content;
    justify-content: flex-end;
    margin-left: 0;
    margin-top: 10px;
  }
}
