.dataEditForm {
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  min-height: max-content;
  width: 100%;
  height: 50vh;
  overflow: auto;
  justify-content: space-between;
}
.dataEditForm > ul {
  list-style-type: none;
  display: flex;
}
.dataEditForm > ul > li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5px;
}
.dataEditForm > ul > li > p {
  font-size: large;
  font-weight: 600;
}
.dataEditForm > ul > li > textarea {
  width: 35vw;
  max-width: 33vw;
  max-height: 10vh;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
}
.dataEditForm > .submit {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}
.dataEditForm > .submit > button {
  width: 70px;
  height: 30px;
  margin: 5px 0px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.dataEditForm > .submit > button:hover {
  cursor: pointer;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
@media only screen and (max-width: 800px) {
  .dataEditForm {
    min-height: max-content;
    width: 100%;
    height: 50vh;
    min-height: 300px;
    overflow: scroll;
  }
  .dataEditForm > ul > li > textarea {
    width: 50vw;
    max-width: 50vw;
    max-height: 10vh;
    min-height: 30px;
  }
}